#home-menu{
        background-image: url(/assets/homemenu.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
}
#interests-menu{
    background-image: url(/assets/interests.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#accomplishments-menu{
    background-image: url(/assets/accomplishments.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#main-box{
    background-color: rgba(255, 255, 255, 0.683);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.navbar-box{
    display: flex;
    justify-content: space-evenly;
}
.box-image{
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
}
.box-spacing{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10%;
}
.interest{
    text-align: center;
}
.box-info{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
}

.imgborder{
    border:10px groove;
    border-inline-color: rgb(234,213,140);
    border-top-color: rgb(242,232,182);
    border-bottom-color: rgb(228,196,88);

}

a{
    font-size: 20px;
}

a:hover{
    font-size: 23px;
    font-style: bold;
}
.accordion-body{
    text-align: center;
}